header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
    color: white;
    padding: 1rem 2rem;

    .design {
        border: 5px solid #1f1f1f;
        border-radius: 12px;
        background-color: #0f0f0f;
    }
}