.popular-movies-carousel {
    padding: 20px 0;

    .card {
        width: 270px;
        height: auto;
        background-color: #1A1A1A;
        border: 1px solid #262626;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;

        .about-movies {
            background-color: #e50000;
            color: white;
        }
    }
}